<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.sethdev.spring_template.repository"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/role.map.xml"/>
        <mapper resource="mappers/user.map.xml"/>
        <mapper resource="mappers/group.map.xml"/>
        <mapper resource="mappers/database.map.xml"/>
        <mapper resource="mappers/sys_custom_dialog.map.xml"/>
        <mapper resource="mappers/sys_relation.map.xml"/>
        <mapper resource="mappers/sys_resource.map.xml"/>
    </mappers>
</configuration>